<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	  
  <parameter name="testcasesfile" value="Review_Solicitation.json"></parameter>
<test name="Review_Solicitation">
	<parameter name="browser" value="Chrome"/>
 	 <classes>
    	<class name= "com.dac.testcases.Verify_CreateCampaign" />
    </classes>
</test>
    

    

 
</suite> <!-- Suite -->
